/* make window draggable */
body {
    overflow: hidden;
}


/* WINDOW HEADER */
#window-header {
    margin: 0;
    height: 40px;
    background: #5ca2ca;
    position: relative;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}


#window-header h1 {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    margin: 0;
    color: #fbfbfb;
    cursor: default;
}

#window-header small {
    color: #fbfbfb;
    font-size: 10px;
}

.window-control-buttons {
    position: absolute;
    height: 45px;
    top: 5px;
    left: 5px;
}

.window-app-buttons {
    position: absolute;
    height: 45px;
    top: 5px;
    right: 5px;
}


#window-header .btn {
    background: none;
    border: none;
    color: #fff;
}

#window-header .btn-default .caret {
    border-top-color: #fff;
}

#window-header .dropdown {
    display: inline-block;
}

#window-header .dropdown-menu {
    right: 0;
    left: auto;
    padding: 2px 8px;
}



#font-selector {
    display: inline-block;
    width: 100%;
    height: 31px;
    padding: 5px 10px;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #adadad;
    color: #333;
}

.dropdown-menu li {
    position: relative;
}

#window-header .dropdown-display-helper {
    position: absolute;
    top: 13px;
    right: 8px;
    pointer-events: none;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 0 dotted;
}